<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:dao="http://autodao.sourceforge.net/schemas/autodao-0.1"
        xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
                           http://autodao.sourceforge.net/schemas/autodao-0.1 http://autodao.sourceforge.net/schemas/autodao-0.1.xsd
                           http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-3.0.xsd">


    <bean id="wicketApplication" class="ru.skalodrom_rf.web.WicketApplication"/>
    <bean id="openSessionInView" class="ru.skalodrom_rf.web.TransactionalRequestCycleProcessor" scope="prototype"/>

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:jdbc.properties"/>
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>


    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="ru.skalodrom_rf.model"/>
        <property name="configurationClass" value="org.hibernate.cfg.AnnotationConfiguration"/>
        <property name="namingStrategy" >
            <bean class="ru.skalodrom_rf.QuotedNamingStrategy"/>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.validator.apply_to_ddl">true</prop>

            </props>
        </property>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>
    <context:annotation-config/>

    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>


    <dao:hibernateScan base-package="ru.skalodrom_rf.dao" transaction-manager="transactionManager"/>

    <bean class="net.sf.wicketautodao.model.DaoFinder"/>
    <bean class="ru.skalodrom_rf.EmailSender"/>

    <import resource="securityContext.xml"/>
    <import resource="profileContext.xml"/>

</beans>