<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Скалодром.рф. поиск напарника по скалолазанию.</title>
</head>
<body>
<wicket:panel>
    <table border="1">
        <tr wicket:id="dataView">
            <td><div wicket:id="dateLabel">15.01.2011</div></td>
            <td><div wicket:id="timeLabel">вечер</div></td>
            <td><a wicket:id="removeLink" href="#">удалить</a></td>
        </tr>
        <tr>
            <td><input type="text" wicket:id="dateText"></td>
            <td>
                <select wicket:id="timeText">
                <option>утро</option>
                <option>день</option>
                </select>
            </td>
            <td>
                <input type="submit" wicket:id="submit" value="добавить">
            </td>
        </tr>
    </table>




</wicket:panel>

</body>
</html>