<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Скалодром.рф. поиск напарника по скалолазанию.</title>
</head>
<body>
<wicket:panel>
    <a href="j_spring_security_logout"><img src="images/link4.png" alt="" class="link2"></a>
    <a href="profileEdit.html"><img src="images/link5.png" alt="" class="link3"></a>
</wicket:panel>

</body>
</html>