<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="fileAppender" class="org.apache.log4j.FileAppender">
        <param name="File" value="skalodrom-rf.log"/>
        <layout class="org.apache.log4j.SimpleLayout"/>
    </appender>     
    <logger name="ru.skalodrom_rf">
        <level value="info"/>
    </logger>
    <!--Корневой logger-->
    <root>
        <priority value="WARN"/>
        <appender-ref ref="fileAppender"/>
    </root>
</log4j:configuration>